// SPDX-License-Identifier: GPL-2.0
// Copyright (c) 2022-2023, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.

// This files contans the status override of the DT nodes for overlay files.

/ {
	fragment-t234-soc@0 {
		__overlay__ {
			bus@0 {
				watchdog@2190000 {
					status = "okay";
				};

				pinmux@2430000 {
					status = "okay";
				};

				ufshci@2500000 {
					status = "okay";
				};

				serial@3110000 {
					status = "okay";
				};

				tachometer@39c0000 {
					status = "okay";
				};

				gpu@17000000 {
					status = "okay";
				};

				aconnect@2900000 {
					ahub@2900800 {
						arad@290e400 {
							status = "okay";
						};

						afc@2907000 {
							status = "okay";
						};

						afc@2907100 {
							status = "okay";
						};

						afc@2907200 {
							status = "okay";
						};

						afc@2907300 {
							status = "okay";
						};

						afc@2907400 {
							status = "okay";
						};

						afc@2907500 {
							status = "okay";
						};
					};
				};

				ethernet@6800000 {
					status = "okay";
				};

				host1x@13e00000 {
					nvjpg@15380000 {
						status = "okay";
					};

					nvenc@154c0000 {
						status = "okay";
					};

					nvjpg@15540000 {
						status = "okay";
					};

					ofa@15a50000 {
						status = "okay";
					};

					se@15810000 {
						status = "okay";
					};

					se@15820000 {
						status = "okay";
					};

					se@15840000 {
						status = "okay";
					};

					tsec@15500000 {
						status = "okay";
					};

					tegra_soc_hwpm {
						status = "okay";
					};

					nvdla0@15880000 {
						status = "okay";
					};

					nvdla1@158c0000 {
						status = "okay";
					};

					pva0@16000000 {
						status = "okay";

						pva0_niso1_ctx0 {
							status = "okay";
						};

						pva0_niso1_ctx1 {
							status = "okay";
						};

						pva0_niso1_ctx2 {
							status = "okay";
						};

						pva0_niso1_ctx3 {
							status = "okay";
						};

						pva0_niso1_ctx4 {
							status = "okay";
						};

						pva0_niso1_ctx5 {
							status = "okay";
						};

						pva0_niso1_ctx6 {
							status = "okay";
						};

						pva0_niso1_ctx7 {
							status = "okay";
						};
					};
				};

				hsp@3d00000 {
					status = "okay";
				};

				aon@c000000 {
					status = "okay";
				};
			};

			tegra-hsp@b950000 {
				status = "okay";
			};

			tegra_mce@e100000 {
				status = "okay";
			};

			scf-pmu {
				status = "okay";
			};

			nvpmodel {
				status = "okay";
			};

			soctherm-oc-event {
				status = "okay";
			};
		};
	};

	fragment-t234-thermal@0 {
		target-path = "/";
		__overlay__ {
			bpmp {
				thermal {
					status = "okay";
				};
			};

			thermal-zones {
				cpu-thermal {
					status = "okay";
				};

				gpu-thermal {
					status = "okay";
				};

				cv0-thermal {
					status = "okay";
				};

				cv1-thermal {
					status = "okay";
				};

				cv2-thermal {
					status = "okay";
				};

				soc0-thermal {
					status = "okay";
				};

				soc1-thermal {
					status = "okay";
				};

				soc2-thermal {
					status = "okay";
				};

				tj-thermal {
					status = "okay";
				};
			};
		};
	};

	fragment-t234-base@0 {
		__overlay__ {
			bus@0 {
				rtc@c2a0000 {
					status = "okay";
				};

				aconnect@2900000 {
					ahub@2900800 {
						i2s@2901200 {
							status = "okay";
						};

						i2s@2901400 {
							status = "okay";
						};

						dmic@2904000 {
							status = "okay";
						};

						dmic@2904100 {
							status = "okay";
						};


						dmic@2904300 {
							status = "okay";
						};

						dspk@2905000 {
							status = "okay";
						};

						dspk@2905100 {
							status = "okay";
						};
					};
				};

				host1x@13e00000 {
					nvdec@15480000 {
						status = "okay";
					};
				};

				i2c@c240000 {
					status = "okay";
				};

				i2c@3180000 {
					status = "okay";
				};

				i2c@3190000 {
					status = "okay";
				};

				i2c@31b0000 {
					status = "okay";
				};

				i2c@31c0000 {
					status = "okay";
				};

				i2c@31e0000 {
					status = "okay";
				};

				i2c@c250000 {
					status = "okay";
				};

				serial@31d0000 {
					status = "okay";
				};

				usb@3550000 {
					status = "okay";
				};
			};

			cpus {
				idle-states {
					c7 {
						status = "okay";
					};
				};
			};

		};
	};
};
