// SPDX-License-Identifier: GPL-2.0
// Copyright (c) 2022, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.

#include "tegra234-p3737-0000-camera-imx274-dual.dtsi"
#include "tegra234-p3737-0000-camera-imx185-a00.dtsi"
/ {
	fragment-t234-p3701-0001@0 {
		target-path = "/bus@0/i2c@c240000";
		__overlay__ {
			status = "okay";

			ina3221@40 {
				compatible = "ti,ina3221";
				reg = <0x40>;
				#address-cells = <1>;
				#size-cells = <0>;
				#io-channel-cells = <1>;
				channel@0 {
					reg = <0x0>;
					label = "VDD_GPU_SOC";
					shunt-resistor-micro-ohms = <2000>;
				};
				channel@1 {
					reg = <0x1>;
					label = "VDD_CPU_CV";
					shunt-resistor-micro-ohms = <2000>;
				};
				channel@2 {
					reg = <0x2>;
					label = "VIN_SYS_5V0";
					shunt-resistor-micro-ohms = <2000>;
				};
			};

			ina3221@41 {
				compatible = "ti,ina3221";
				reg = <0x41>;
				#address-cells = <1>;
				#size-cells = <0>;
				#io-channel-cells = <1>;
				channel@0 {
					reg = <0x0>;
					label = "NC";
				};
				channel@1 {
					reg = <0x1>;
					label = "VDDQ_VDD2_1V8AO";
					shunt-resistor-micro-ohms = <2000>;
				};
				channel@2 {
					reg = <0x2>;
					label = "NC";
				};
			};
		};
	};
};
