// SPDX-License-Identifier: GPL-2.0
// Copyright (c) 2022-2023, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.


/dts-v1/;
/plugin/;

#include "overlay/tegra234-overlay.dtsi"
#include "overlay/tegra234-thermal.dtsi"
#include "overlay/tegra234-thermal-shutdown.dtsi"
#include "overlay/tegra234-audio-dai-links-overlay.dtsi"
#include "overlay/tegra234-camera.dtsi"
#include "tegra234-status-overlay.dtsi"
#include "tegra234-p3737-0000.dtsi"
#include "tegra234-p3701-0000.dtsi"
#include "tegra234-dcb-p3737-0000-p3701-0000.dtsi"

/ {
	compatible = "nvidia,p3737-0000+p3701-0000";

	fragment-t234-p3737-p3701@0 {
		target-path = "/";
		__overlay__ {
			bus@0 {
				smmu_test {
					compatible = "nvidia,smmu_test";
					iommus = <&smmu_niso0 TEGRA234_SID_SMMU_TEST>;
					status = "okay";
				};
			};
		};
	};

	fragment-t234-p3737-p3701@5 {
		target-path = "/bus@0/i2c@31b0000";
		__overlay__ {
			nvidia,hw-instance-id = <0x5>;
		};
	};

	fragment-t234-p3737-p3701@10 {
		target-path = "/";
		__overlay__ {
			cpus {
				cpu_core_power_states {
					C1: c1 {
						compatible = "arm,idle-state";
						state-name = "Clock gated";
						wakeup-latency-us = <1>;
						min-residency-us = <1>;
						status = "okay";
					};

					C7: c7 {
						compatible = "arm,idle-state";
						state-name = "Core powergate";
						wakeup-latency-us = <5000>;
						arm,psci-suspend-param= <0x40000007>;
						min-residency-us = <30000>;
						status = "okay";
					};
				};

				cpu@0 {
					cpu-idle-states = <&C7>;
				};

				cpu@100 {
					cpu-idle-states = <&C7>;
				};

				cpu@200 {
					cpu-idle-states = <&C7>;
				};

				cpu@300 {
					cpu-idle-states = <&C7>;
				};

				cpu@10000 {
					cpu-idle-states = <&C7>;
				};

				cpu@10100 {
					cpu-idle-states = <&C7>;
				};

				cpu@10200 {
					cpu-idle-states = <&C7>;
				};

				cpu@10300 {
					cpu-idle-states = <&C7>;
				};

				cpu@20000 {
					cpu-idle-states = <&C7>;
				};

				cpu@20100 {
					cpu-idle-states = <&C7>;
				};

				cpu@20200 {
					cpu-idle-states = <&C7>;
				};

				cpu@20300 {
					cpu-idle-states = <&C7>;
				};
			};
		};
	};

	fragment-t234-p3737-p3701@23 {
		target-path = "/bus@0";
		__overlay__ {
 			hdr40_i2c1: i2c@c250000 { };
		};
	};
};
